<h1>Imagenes de Carrusel</h1>

<div align="right">
    <h3><%= link_to 'Agregar imagen', new_carrousel_path, :class => 'btn btn-jordi'%></h3>
  </div>

<CENTER>
  <br>
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <% @carrousels.each do |carrousel| %>
          <div class="col-lg-4">
          <img src= '<%=carrousel.photo.url %>' width=150 height=150 class="img-rounded"></a>
          <p><%= link_to 'Ver', carrousel, :class => 'btn btn-mini btn-success' %>
          <%= link_to 'Editar', edit_carrousel_path(carrousel), :class => 'btn btn-mini btn-warning' %></p>
          <p><%= link_to 'Eliminar', carrousel, method: :delete, data: { confirm: 'Esta seguro?' } , :class => 'btn btn-mini btn-danger'%></p>
        </div><!-- /.col-lg-4 -->    
      <% end %>
    </div><!-- /.row -->
  </div><!-- /.container -->
</Center>



