<h1>Productos</h1>
<% if current_user %>  
  <div align="right">
    <h3><%= link_to 'Añadir producto a pagina', new_product_path, :class => 'btn btn-jordi'%></h3>
  </div>
<%end%>

<center>
  <div>
    <br>
    <form method="GET" action="/products/search_to_home">
      Busqueda: <input type="text" name="name" placeholder="Nombre de producto"> &nbsp;&nbsp;&nbsp;
      <input type="submit" value="Buscar producto de pagina" class="btn btn-mini btn-info">
    </form>
  </div>
</center>

<CENTER>
  <br>
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-lg-4">
          <img src= '<%=product.photo.url %>' width=150 height=150 class="img-rounded"></a> 
          <h2><%= product.name %></h2>
          <p><%= link_to 'Ver detalles', {:controller => :products, :action => 'show', :id => product.id} , :class => 'btn btn-mini btn-success'%>
          <% if current_user %>
            <%= link_to 'Editar Producto de Pagina', {:controller => :products, :action => 'edit', :id => product.id}, :class => 'btn btn-mini btn-warning'%></p>
            <p><%= link_to 'Eliminar Producto', product, method: :delete, data: { confirm: 'Seguro de eliminar el producto?' }, :class => 'btn btn-mini btn-danger' %></p>
          <% end %>
        </div><!-- /.col-lg-4 -->    
      <% end %>
    </div><!-- /.row -->
  </div><!-- /.container -->
    <%= will_paginate @products, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
</Center>


